<footer class="f">
    <div class="f-socials">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div>&copy; YatraStay private limited</div>
    <div class="f-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">terms</a>
    </div>
</footer>